<a id="chapter6"></a>

# Интерфейсы и база данных

Для визуализации данных удобно сохранить все данные в базе данных (к примеру, sqllite)

In [38]:
import pandas as pd

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv"
df = pd.read_csv(url)

In [39]:
from sqlite3 import connect

In [40]:
conn = connect('data.db')

In [41]:
df.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

<a id="task12"></a>

### Задача №12. Сохранить таблицу в базе данных

Сохранить данные о погоде в таблицу ```weater``` базы данных sqlite

Для удобства работы можно выделить только дату из поля ```date_only```

In [42]:
df['date_only'] = pd.to_datetime(df['Date'])

<hr style="border:1px solid red;">
<a id='solve12'></a>

###  Решение

In [2]:
# тут ваше решение

<hr style="border:1px solid red;">

Проверяем корректность работы

In [44]:
query = '''                  
	SELECT * FROM weather
'''

In [45]:
df_sql = pd.read_sql(query, conn)
df_sql

            Date  Temp            date_only
0     1981-01-01  20.7  1981-01-01 00:00:00
1     1981-01-02  17.9  1981-01-02 00:00:00
2     1981-01-03  18.8  1981-01-03 00:00:00
3     1981-01-04  14.6  1981-01-04 00:00:00
4     1981-01-05  15.8  1981-01-05 00:00:00
...          ...   ...                  ...
3645  1990-12-27  14.0  1990-12-27 00:00:00
3646  1990-12-28  13.6  1990-12-28 00:00:00
3647  1990-12-29  13.5  1990-12-29 00:00:00
3648  1990-12-30  15.7  1990-12-30 00:00:00
3649  1990-12-31  13.0  1990-12-31 00:00:00

[3650 rows x 3 columns]

<a id="task13"></a>

### Задача №13. Реализации интерфейса для пользователя

В этой задаче вам потребуются бибоиотеки ```ipywidgets``` и ```IPython.display```

In [46]:
import ipywidgets as widgets
from IPython.display import display, clear_output

Так же нужна будет функция для выбора данных по дате

In [47]:
cursor = conn.cursor()
def get_weather_info(date):
    query = f"SELECT Temp FROM weather WHERE date_only = '{date}'"
    result = cursor.execute(query).fetchall()
    if result:
        return result[0][0]
    return "No data"

Ваша задача, используя бибилиотеку ```ipywidgets``` нарисовать интерфейс, который показан на рисунке

<center><img src="./images/fig_weather_date.png" alt="Description of the image" width="400" height="300"/></center>

<hr style="border:1px solid red;">
<a id='solve13'></a>

###  Решение

In [3]:
# тут ваше решение

<hr style="border:1px solid red;">

### Задача №14. Разарботка API

Для работы вам потребуется flask или любой другой фреймворк

Разработайте REST сервис:

    - GET /weather/<date> : врзвращает темепературу по дате.
    
    - GET /all : возвращает все даннные из набора
    
    - GET /create/1981-01-01/31.5 : добавляет показания в базу данных
    
    - POST /delete/1981-01-01 : удаляет все записи на эту дату
    
    - GET /middle/1981-01-01/1983-01-01 : возвращает средюю и медианную температуру за период
    
    - GET /page/1 : возвращает первые 20 записей; /page/2 - записи с 21 по 40 и так делее..

Все ответы должны приходить в валидном JSON формате